@charset "UTF-8";

/* 共通部分 */

html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.common-background {
  background-color: linear-gradient(#6CA1F5, #3974CC);
  /* background-color: #0bd; */

  background: #3974CC ;/*保険用*/
  background: -moz-linear-gradient(top, #6CA1F5 0%, #3974CC 100%);/*古いFireFox向け*/
  background: -webkit-linear-gradient(top, #6CA1F5 0%,#3974CC 100%);/*古いSafariなど向け*/
  filter:progid:DXImageTransform.Microsoft.Gradient(
    startColorstr='#6CA1F5',
    endColorstr='#3974CC',
    GradientType=0 );/*IE9以下向け*/
  background: linear-gradient(to bottom, #6CA1F5 0%, #3974CC 100%);/*正規の指定*/

  min-height: 100vh;

  color: #FFF;
}

#home {
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #FFF;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* HOME */

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: normal;
}

.privacy {
  letter-spacing: 10rem;
}

.privacy-content ul {
  padding-left: 2rem;
}

.privacy-content a {
  color: #432;
}

.privacy-content a:hover {
  color: #FFF;
}

/* モバイル版 */
@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }

  /* HEADER */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }

  /* HOME */
  .home-content {
    margin-top: 20%;
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }
}

